<configuration>
    <property name="maxFileSize" value="150MB"/>
    <property name="logFilesPath" value="/logs/accouting/"/>
    <property name="patternLog"
              value="%n%-7([%level]) [%date{${datePattern}}] [${HOSTNAME}] [%X{requestId}] thread:[%-25.25(%thread)] %logger{40}.%method@%line:%n\t%message%n"/>
    <property name="simplePatternLog" value="%n[${HOSTNAME}] [%X{requestId}] [%d] [%thread] [level] [%msg]"/>
    <property name="hostName" value="${HOSTNAME}"/>
    <property name="patternDate" value="%d{yyyy-MM-dd}"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${patternLog}</Pattern>
        </layout>
    </appender>

    <appender name="CXF-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilesPath}/cxf_${hostName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>${patternLog}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logFilesPath}/${patternDate}/cxf_${hostName}.${patternDate}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.cxf" level="INFO" additivity="false">
        <appender-ref ref="CXF-LOG"/>
    </logger>
    <logger name="org.quartz" level="ERROR"/>

    <appender name="per-accAccess" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilesPath}/per-acc-access_${hostName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>${simplePatternLog}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logFilesPath}/${patternDate}/per-acc-access_${hostName}.${patternDate}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.per-acc.util.log.InsertCustomLog" level="INFO" additivity="false">
        <appender-ref ref="per-accAccess"/>
    </logger>

    <!-- per-acc Not Persist-->
    <appender name="per-accNotPersistently" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilesPath}/per-acc-not-persistently_${hostName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>${notPersistPatternLog}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logFilesPath}/${patternDate}/per-acc-not-persistently_${hostName}.${patternDate}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.per-acc.util.log.InsertNotPersistLog" level="INFO" additivity="false">
        <appender-ref ref="per-accNotPersistently"/>
    </logger>

    <appender name="per-acc-APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilesPath}/-per-acc_${hostName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>${patternLog}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logFilesPath}/${patternDate}/per-acc_${hostName}.${patternDate}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.per-acc" level="INFO" additivity="false">
        <appender-ref ref="per-acc-APP"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.apache.catalina" level="INFO" additivity="false">
        <appender-ref ref="per-acc-APP"/>
    </logger>

    <!--    <logger name="org.hibernate.SQL" additivity="false" >-->
    <!--        <level value="DEBUG" />-->
    <!--        <appender-ref ref="Console" />-->
    <!--    </logger>-->

    <!--    <logger name="org.hibernate.type" additivity="false" >-->
    <!--        <level value="info" />-->
    <!--        <appender-ref ref="Console" />-->
    <!--    </logger>-->

    <root level="info">
        <appender-ref ref="per-acc-APP"/>
    </root>

</configuration>